# Add any directories, files, or patterns you don't want to be tracked by version control
# Ignore everything
/*
!*.pgf
!*.png
!*.pov
!*.xcf
!*.npsat
!*.pvsm
!/runs
/runs/*
!/runs/test3D_1
/runs/test3D_1/*
!/runs/test3D_1/*.npsat
!/runs/test3D_1/*.m
!/runs/test3D_1/*.ods
!/runs/test3D_1/*.sh
!/runs/test3D_1/*.txt
!/runs/test3D_1/*.mat
!/runs/testValid/
/runs/testValid/*
!/runs/testValid/*.m
!/runs/testValid/*.OBJ
!/runs/testValid/*.obj
!/runs/testValid/*.geo
!/runs/testValid/*.msh
!/runs/testValid/*.npsat
!/runs/testValid/*.hipnc


